body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.carrossel{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;

}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}

.manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-nav{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-nav:not(:last-child){
    margin-right: 40px;
}

.manual-nav:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}


.nav div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.nav{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.nav div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav .auto-nav1{
    background-color: #fff;
}

#radio2:checked ~ .nav .auto-nav2{
    background-color: #fff;
}

#radio3:checked ~ .nav .auto-nav3{
    background-color: #fff;
}

#radio4:checked ~ .nav .auto-nav1{
    background-color: #fff;
}

#radio5:checked ~ .nav .auto-nav2{
    background-color: #fff;
}

#radio6:checked ~ .nav .auto-nav3{
    background-color: #fff;
}

#radio7:checked ~ .nav .auto-nav1{
    background-color: #fff;
}

#radio8:checked ~ .nav .auto-nav2{
    background-color: #fff;
}

#radio9:checked ~ .nav .auto-nav3{
    background-color: #fff;
}
