*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  
  a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
  }
  
  a:hover{
    opacity: 0.7;
  }
  
  .logo img{
    width: 80px;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#D80C05;
    height: 12vh;  list-style: none;
    display: flex;
  }
  
 
  .nav-list {
    list-style: none;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
    
.nav-bar li {
   letter-spacing: 3px;
   margin-left: 32px;
  }

  /*Responsividade*/

  .mobile-menu{
    cursor: pointer;
    display: none;
  }

  .mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

 @media screen and (max-width: 999px){
  body{
    overflow-x: hidden;
  }
  .nav-list{
    position: absolute;
    top: 8vh;
    right: 0;
    width: 35vw;
    height: 93vh;
    background: #D80C05;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li{
    margin-left: 0;
    opacity: 30;
  }
  .mobile-menu{
    display: block;
  }  
  }

  .nav-list.active{
    transform: translateX(0);
  }

  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(50px)
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }

  .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
  }
  .mobile-menu.active .line2 {
      opacity: 0;
  }
  .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
  }
  /*Fim Responsividade*/
  
  
  
  button{
    border: 1px ;
    width: 80px;
    height:40px;
    border-radius: 30px;
    color: #DAA06D;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: white;
  
  }
  
  body{
    background-image: url(img/sugestão-kah.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .conteudo-principal {
      
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    height: 120vh;
    width: 120vh;
    margin-left: 20%;
    border-radius: 40px;
    background-color: #FFA726;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 100px ;
  
  }

  h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 32px;
    position: absolute;
    top: 100vh;
    align-items: center;
    font-style: italic;
    margin-left: 1%;

  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa img {
    background-color: blue;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px; /* Adicionado para espaçamento interno */
}

#search {
    margin-top: 200px;
    height: 50px;
    width: 45vh;  
    border-radius: 60px;
    text-align: center;
    border: 1px solid white;
    background-color: #FFA726;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

  .box{
    border: 4px #DAA06D solid ;
  } 
  
  /*footer*/
  
  footer {
    background-image: linear-gradient(to bottom, #FFB442, #FFA726, #E6953C);
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055); /* Adicionado sombra */
}

  
  footer .container{
    flex-direction: column;
  }
  
  footer .container p{
    width: 100%;
    margin-bottom:30px;
  }
  
  
  footer div{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(44, 44, 44);
  }
  
  footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
  }
  
  
  
  /*Redes Sociais*/
  .card {
    width: fit-content;
    height: fit-content;
    background-color: #E6953C;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  /*Gmail*/
  .containerThree:hover {
    background-color: #f14336;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
 
.search {
  height: 1px;
}
.box{
    border: 4px #DAA06D solid ;
} 

/*footer*/

footer{
  background-image: linear-gradient(to bottom, #FFB442, #FFA726, #E6953C);
  padding-left: 3%;
  padding-right: 3%;
}

footer .container{
  flex-direction: column;
}

footer .container p{
  width: 100%;
  margin-bottom: 30px;
}


footer div{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(44, 44, 44);
}

footer p{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: white;
}



/*Redes Sociais*/
.card {
  width: fit-content;
  height: fit-content;
  background-color: #E6953C;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* Para todas redes sociais*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}
/*Gmail*/
.containerThree:hover {
  background-color: #f14336;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Fim redes sociais*/


